<%- include('../partials/header') %> <%- include('../partials/nav') %>
<div id="links">
  <ul id="link-list">
    <% links.forEach((link) => { %>
    <li class="link-item">
      <a class="link-item-hyperlink" href="<%= link.hyperlink %>" target="_blank"><%= link.name %></a>
    </li>
    <% }); %>
  </ul>
</div>
<%- include('../partials/footer') %>
