<%- include('../partials/header') %> <%- include('../partials/nav') %>
<ul>
  <% links.forEach((link) => { %>
  <li><a href="<%= link.hyperlink %>" target="_blank"><%= link.name %></a></li>
  <% }); %>
</ul>
<%- include('../partials/footer') %>
