<%- include('../partials/header') %> <%- include('../partials/nav') %>
<h1>List of Staff</h1>
<ul>
  <% staff.forEach((member) => {%>
  <li><%= member.name %></li>
  <p>
    Job: <%= member.job %> 
  </br>
    Age: <%= member.age %>
  </p>
  <% }); %>
</ul>
<%- include('../partials/footer') %>
